<% if @comment != nil %>
  <% @comment.errors.full_messages.each do |message| %>
      <p class="text-danger"><strong><%= message %></strong></p>
  <% end %>

  <%= form_for ([@post, @comment]) do |f| %>
    <div class="row">
      <div class="field col-md-3">
        <%= f.label "Post: " %><br/>
        <%= f.text_area :words %>
      </div>
    <br>
    <div class="row">
      <div class="col-md-2">
        <%= button_tag(type: 'submit', class: 'btn btn-success') do %>
          <i class="icon-ok icon-white"></i> Post!
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <% @reply.errors.full_messages.each do |message| %>
      <p class="text-danger"><strong><%= message %></strong></p>
  <% end %>

  <%= form_for ([@comment, @reply]) do |f| %>
    <div class="row">
      <div class="field col-md-3">
        <%= f.label "Post: " %><br/>
        <%= f.text_area :words %>
      </div>
    <br>
    <div class="row">
      <div class="col-md-2">
        <%= button_tag(type: 'submit', class: 'btn btn-success') do %>
          <i class="icon-ok icon-white"></i> Post!
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
