<div class="comment-wrapper">
  <div
    id="comment-<%= comment.id %>"
    class="comment"
    data-comments-on-id="<%= comment.commentable.id %>"
    data-commments-on-type="<%= comment.commentable_type.downcase %>">
    <div class="original-poster-info">
      <div class="profile-pic">
        <% if comment.user != nil %>
          <%= image_tag comment.user.profile_pic.url(:thumb) %>
        <% else %>
          <%= image_tag 'anon.jpg', class: 'default-image' %>
        <% end %>
      </div>
      <div class="profile-info">
        <% if comment.user != nil %>
          <%= comment.user.handle %><br>
        <% end %>

        <% if comment.user != current_user && comment.user != nil && current_user != nil %>
          <% if followed?(comment.user) == false %>

            <%= link_to "Follow", follow_path(id: comment.user.id), class: 'btn btn-info', method: :post %>
          <% else %>
            <%= link_to "Unfollow", unfollow_path(id: comment.user.id), class: 'btn btn-danger', method: :delete %>
          <% end %>
        <% end %>

        <% if comment.user == current_user && current_user != nil%>
          <%= link_to "Delete", post_path(id: comment.id), method: :delete, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
    <div class="content">
      <div class="words">
        <%= comment.words %>
      </div>
    </div>
    <div class="reply">
      <h5>Reply</h5>
      <%= form_for([comment, @comment], html: {class: "new_comment", id: "#new_comment_#{comment.id}"}) do |f| %>
        <%= f.text_area :words %>
        <br>
        <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div>

  <% if comment.comments.count > 0 %>
    <div class="comment-indent">
      <% comment.comments.order(created_at: :desc).each do |comment| %>
        <%= render "comment", comment: comment %>
      <% end %>
    </div>
  <% end %>
</div>
