<div class="comment-wrapper">
  <div
    id="comment-<%= comment.id %>"
    class="comment"
    data-comments-on-id="<%= comment.commentable.id %>"
    data-commments-on-type="<%= comment.commentable_type.downcase %>">
    <div class="original-poster-info">
      <div class="profile-pic">
        <% if comment.user != nil %>
          <%= image_tag comment.user.profile_pic.url(:thumb) %>
        <% else %>
          <%= image_tag 'anon.jpg', class: 'default-image' %>
        <% end %>
      </div>
      <div class="profile-info">
        <% if comment.user != nil %>
          <%= comment.user.handle %><br>
        <% end %>

        <% if comment.user != current_user && comment.user != nil && current_user != nil %>
          <% if followed?(comment.user) == false %>

            <%= link_to "Follow", follow_path(id: comment.user.id), class: 'btn btn-info btn-xs', method: :post %>
          <% else %>
            <%= link_to "Unfollow", unfollow_path(id: comment.user.id), class: 'btn btn-danger btn-xs', method: :delete %>
          <% end %>
        <% end %>


      </div>
    </div>
    <div class="content">
      <div class="words">
        <%= comment.words %>
        <div class="post-options">
          <% if comment.commentable_type == "Post" %>
            <% if comment.user == current_user && current_user != nil%>
              <%= link_to "Delete", post_comment_path(id: comment.id, post_id: comment.commentable_id), method: :delete, class: 'btn btn-danger btn-xs' %>
              <%= link_to "Edit", edit_post_comment_path(id: comment.id, post_id: comment.commentable_id), class: 'btn btn-warning btn-xs' %>
            <% end %>
          <% end %>
          <% if comment.commentable_type == "Comment" %>
            <% if comment.user == current_user && current_user != nil%>
              <%= link_to "Delete", comment_comment_path(id: comment.id, comment_id: comment.commentable_id), method: :delete, class: 'btn btn-danger btn-xs' %>
              <%= link_to "Edit", edit_comment_comment_path(id: comment.id, comment_id: comment.commentable_id), class: 'btn btn-warning btn-xs' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <!-- REPLY FORM -->

    <% if comment.commentable_type == 'Post' %>
      <div class="reply">
        <%= form_for([comment, @comment], html: {class: "hidden new_reply", id: "new_reply_#{comment.id}"}) do |f| %>
          <%= f.text_area :words %> <br>
          <%= f.submit "Submit" %>
      </div>
    <% end %>

    <!--  -->

<button class="toggle-reply-form">Add a Reply</button>

    <% end %>

  <% if comment.comments.count > 0 %>
    <div class="comment-indent">
      <% comment.comments.order(created_at: :asc).each do |comment| %>
        <%= render "comment", comment: comment %> <br>
      <% end %>
    </div>
  <% end %>
</div>

<script>
$(".toggle-reply-form").on("click", function(e) {
  $(e.target).siblings().eq(1).find('form').removeClass("hidden");
  $(e.target).addClass('hidden');
});
</script>
