<% @post.errors.full_messages.each do |message| %>
    <p class="text-danger"><strong><%= message %></strong></p>
<% end %>

<%= form_for @post do |f| %>
  <div class="row">
    <div class="field col-md-3">
      <%= f.label "Subject: " %><br/>
      <%= f.text_field :title, size: 101  %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="field col-md-3">
      <%= f.label "Post: " %><br/>
      <%= f.text_area :words, size: "100x10" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= button_tag(type: 'submit', class: 'btn btn-success') do %>
        <i class="icon-ok icon-white"></i> Submit
      <% end %>
    </div>
  </div>
<% end %>
