<% @posts.order(created_at: :desc).each do |post| %>

    <div class="post">
      <div class="original-poster-info">
        <div class="profile-pic">
          <% if post.user != nil %>
            <%= image_tag post.user.profile_pic.url(:thumb) %>
          <% else %>
            <%= image_tag 'anon.jpg', class: 'default-image' %>
          <% end %>
        </div>
        <div class="profile-info">
          <% if post.user != nil %>
            <%= post.user.handle %><br>
          <% end %>

          <% if post.user != current_user && post.user != nil && current_user != nil %>
            <% if followed?(post.user) == false %>
              <%= link_to "Follow", follow_path(id: post.user.id), class: 'btn btn-info btn-xs', method: :post %>
            <% else %>
              <%= link_to "Unfollow", unfollow_path(id: post.user.id), class: 'btn btn-danger btn-xs', method: :delete %>
            <% end %>
          <% end %>


        </div>
      </div>
      <div class="content">
        <%= link_to post_path(post) do %>
          <div class="title">
            <%= post.title %>
          </div>
        <% end %>
        <div class="words">
          <%= post.words %>
          <div class="post-options">
            <% if post.user == current_user && current_user != nil%>
              <%= link_to "Delete", post_path(id: post.id), method: :delete, class: 'btn btn-danger btn-xs' %>
              <%= link_to "Edit", edit_post_path(id: post.id), class: 'btn btn-warning btn-xs' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <br>
<% end %>


