<h1>Posts#index</h1>


<% @posts.order(created_at: :desc).each do |post| %>
  <div class="post">
    <div class="original-poster-info">
      <div class="profile-pic">
        <%= image_tag post.user.profile_pic.url(:thumb) %>
      </div>
      <div class="profile-info">
        <%= post.user.handle %><br>

        <% if post.user != current_user %>
          <% if followed?(post.user) == false %>

            <%= link_to "Follow", follow_path(id: post.user.id), class: 'btn btn-info', method: :post %>
          <% else %>
            <%= link_to "Unfollow", unfollow_path(id: post.user.id), class: 'btn btn-danger', method: :delete %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="content">
      <%= post.words %>
    </div>
  </div>
  <br>
<% end %>
