 <div class="post">
  <div class="original-poster-info">
    <div class="profile-pic">
      <% if @post.user %>
        <%= image_tag @post.user.profile_pic.url(:thumb) %>
      <% else %>
        <%= image_tag 'anon.jpg', class: 'default-image' %>
      <% end %>
    </div>
    <div class="profile-info">
      <% if @post.user %>
        <%= @post.user.handle %><br>
      <% end %>

      <% if @post.user != current_user && @post.user && current_user %>
        <% if followed?(@post.user) == false %>

          <%= link_to "Follow", follow_path(id: @post.user.id), class: 'btn btn-info btn-xs', method: :post %>
        <% else %>
          <%= link_to "Unfollow", unfollow_path(id: @post.user.id), class: 'btn btn-danger btn-xs', method: :delete %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="content original">
    <div class="title">
      <%= @post.title %>
    </div>
    <div class="words">
      <%= @post.words %>
      <div class="post-options">
        <% if @post.user == current_user && current_user %>
          <%= link_to "Delete", post_path(id: @post.id), method: :delete, class: 'btn btn-danger btn-xs' %>
          <%= link_to "Edit", edit_post_path(id: @post.id), class: 'btn btn-warning btn-xs' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- COMMENT ON POST FORM -->

<%= form_for([@post, @comment], html: {class: "hidden new_comment", id: "#new_comment_#{@post.id}"}) do |f| %>
  <%= f.text_area :words %>
  <br>
  <%= f.submit "Submit" %>
<% end %>

<!--      -->

<button class="toggle-comment-form">Add a Comment</button>

<% if @post.comments.count > 0 %>
  <h3>Comments</h3>
  <% @post.comments.order(created_at: :desc).each do |comment| %>
    <%= render "comment", comment: comment %> <br>
  <% end %>
<% end %>

<script>
$(".toggle-comment-form").on("click", function(e) {
  $(".new_comment").removeClass("hidden");
  $(e.target).addClass('hidden');
});
</script>
